* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");
body {
  background-color: rgb(232, 246, 242);
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 10px 5px 5px rgb(125, 125, 125);
  align-items: center;
  padding-right: 50px;
  padding-left: 20px;
  position: fixed;
}
.menu-mobile {
  width: 40px;
  height: 25px;
}
.menu-desktop {
  display: none;
}
.banner {
  width: 100%;
  height: 600px;
  background-image: url(../img/pexels-lucas-meneses-4975222.jpg);
  background-repeat: no-repeat;
}
.conteudo-banner {
  width: 100%;
  color: rgb(253, 252, 252);
  padding-top: 210px;
  padding-left: 166px;
}
.conteudo-banner h1 {
  font-size: 60px;
  background-color: rgb(227, 11, 11);
  width: 180px;
  border-radius: 15px;
}
.conteudo-banner p {
  color: rgb(82, 16, 10);
  font-size: xx-large;
}
.cidades {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: rgb(235, 39, 39);
}
h2 {
  font-family: "Square Peg", cursive;
  font-size: 40px;
}
.cards-cidades {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px 3px rgb(125, 125, 125);
  width: 250px;
  height: 350px;
  border-radius: 30px;
  align-items: center;
  margin: 50px;
}
.card:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border: 2px solid rgb(234, 113, 113);
}
.card img {
  width: 100%;
  height: 180px;
  border-radius: 30px;
}
.card h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(82, 16, 10);
}
.card p {
  text-align: center;
  color: rgb(2, 48, 48);
}
.botao {
  width: 130px;
  height: 40px;
  background-color: rgb(213, 50, 50);
  border-radius: 40px;
  cursor: pointer;
  margin-top: 15px;
  border: 2px solid #b5b3b3;
}
.botao a {
  text-decoration: none;
  color: white;
}

.botao span {
  position: relative;
  transition: 0.5s;
}

.botao span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botao:hover span {
  padding-right: 25px;
}

.botao:hover span:after {
  opacity: 1;
  right: 0;
}
.nos2 h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: rgb(235, 39, 39);
}
.nos p {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}
.mapa {
  width: 450px;
  height: 300px;
}
.mapa img {
  width: 100%;
  height: 300px;
}
.rodape{
  width: 100%;
  height: 125px;
  background-color: rgb(95, 91, 91);
  margin-top: 20px;
}
.alunos{
  display: flex;
  justify-content: space-around;
}
.aluno{
  margin-left: 20px;
}
.aluno h4{
  color: white;
  margin: 5px;
}
.aluno p{
  color: white;
  margin: 5px;
}
.rodape2{
  background-color: rgb(95, 91, 91);
  text-align: center;
}
@media (min-width: 769px) {
  .menu-mobile {
    display: none;
  }
  .menu-desktop {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    color: rgb(141, 5, 5);
  }
  .menu-desktop li a {
    text-decoration: none;
    color: inherit;
  }
  .menu-desktop li:hover {
    border-radius: 4px;
    background-color: rgb(246, 201, 201);
  }
  .cards-cidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nos {
    display: flex;
  }
  .nos p {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }
  .mapa {
    width: 650px;
    height: 500px;
  }
  .mapa img {
    width: 650px;
    height: 500px;
  }
}
@media (max-width: 1224px){
.nos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

}
